
body, html{
	width: 100%;
	height: 100%;
	margin: 0px;
	
	background: #45484d;
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

	color: green;
}

h1 {
	position: relative;
	display: block;
	margin: 1ex 0.5em 1ex 0.5em;
	font-size: 1.3em;
	color: #00CC00;
}

table tr.second td {
	background-color: rgba(0, 0, 0, 0.1);
}

table tr th {
	color: #00CC00;
}

/*##################
####	BANNER	####
####################*/

#banner {
	position: fixed;
	display: table;
	top: 0px;
	width: 100%;
	height: 100px;
	border-bottom: solid thin black;
	color: #00EE00;
}

#controls, #volume, #playing {
	display: table-cell;
	vertical-align: middle;
}

#controls, #volume {
	width: 200px;	
}

#controls svg polygon, #controls svg g {
	fill: #45884d;
	stroke: black;
	stroke-width: 2;
	tranform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	
	transform: scale(1);
	-webkit-transform: scale(1);
}

#controls svg g {
	display: none;
}

#controls polygon:hover, #controls svg g:hover{
	stroke-width: 3;
	transform: scale(1);
	-webkit-transform: scale(1);
}

#controls polygon:active, #controls svg g:active{
	transform: scale(0.75);
	-webkit-transform: scale(0.75);
}


#playing {
	margin-left: auto;
	margin-right: auto;
}

#playingcenter {
	position: relative;
	height: 7ex;
}

#playingtrack {
	font-size: 1.25em;
	display: block;
	text-align: center;
}

#playingartist, #playingalbum {
	display: block;
	position: absolute;
	font-size: 1.2em;
	
	height: 3ex;
}

#playingartist {
	right: 50%;
	text-align: right;
	border-right: solid thin black;
	padding-right: 0.5em;
}

#playingalbum {
	left: 50%;
	text-align: left;
	border-left: solid thin black;
	padding-left: 0.5em;
}


#volume canvas {
	position: relative;
	margin-left: 25px;
	border: solid thin black;	
}

/*###################
######	QUEUE	#####
####################*/

#queue {
	position: fixed;
	left: 0px;
	width: 30%;
	border-right: solid thin black;
	top: 100px;
	bottom: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

#queue table{
	position: relative;
	width: 100%;
	border-spacing: 0px;
}

#queue th {
	border-bottom: solid thin black;
	padding: 0.2em
}

#queue table td, #queue table th{
	padding-left: 0.2em;
	text-align: left;
	border-left: solid thin black;	
}

#queue table tr:first-child, #queue table th:first-child{
	border-left: none;
}


/*##################
#####	Tracks	####
###################*/

#tracks {
	position: fixed;
	top: 100px;
	width: 70%;
	bottom: 0px;
	right: 0px;
}

#tracks #backbutton{
	position: absolute;
	font-size: 1.2em;
	right: 1em;
	top: 0ex;
	margin: 1ex 0.5em 1ex 0.5em;
}

#selections {
	position: absolute;
	top: 5ex;
	bottom: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

#selections table {
	width: 100%;	
}

#selections table tr:hover, #tracks #backbutton:hover{
	color: #00FF00;
}

#selections table tr:active, #tracks #backbutton:active{
	color: #005500;
}

#selections .header:hover, #selections .header:active{
	color: black;
}
